channel {font:14px/26px Consolas,微软雅黑;background:#FFFFFA;}
channel>* {margin:8px 20px;display:block;}
channel>item {margin:16px 20px;}
channel>title {
  font-size:26px;line-height:32px;
  display:inline-block;margin-bottom:0px;color:#333;
}
channel>description {display:block;}
item  {
  border:1px solid #CCC;padding:10px;display:block;
  background:linear-gradient(#FFFFE7,#FFFEF9); 
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFFFE7), color-stop(1, #FFFEF9) );
  background: -moz-linear-gradient( center top,#FFFFE7 5%, #FFFEF9 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFE7', endColorstr='#FFFEF9');
  box-shadow:0px 0px 10px #CCC;
}
item >pubDate  {float:right;color:#666;}
item >description {display:block;color:#666;clear:both;}
item >title {font-weight:bold;color:#333;font-size:16px;}
title {cursor:pointer;}
title:hover {color:#E63;}
link {display:none;}